<template>
  <div id="o-nama-div">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="jumbotron">
            <div class="info-wrapper">
              <h1 class="display-4">O nama:</h1>
              <p class="lead">
                <strong>"E-Upaljači" je sajt koji se bavi online prodajom električnih gadžet upaljača na punjive baterije.</strong>
              </p>
              <hr class="my-4">
              <p id="description">
                Upaljači su veoma praktični i laki za upotrebu, u zavisnosti od modela upaljače možete dobiti u raznim oblicima i sa različitim mogućnostima, tako da više stvari možete imati na jednom mestu npr. (elegantan ručni sat koji samo jednim pritiskom na dugme postaje električni upaljač) ili moderan privezak za ključeve sa led diodom u sebi radi atraktivnijeg izgleda koji se pali na touch itd itd...
                uz svaki upaljač dobijate i USB punjač sa kojim ga brzo i jednostavno dopunjujete, a tu je i elegantna kutija u kojoj je smešten vaš budući mezimac na kojem će vam zasigurno svako pozavideti, ili vama dragoj osobi kojoj ste odlučili da ga poklonite.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
   <flex-img></flex-img>
   <div class="container">
     <div class="row">
       <div class="col-md-4 offset-md-4">
          <p class="zoom-parag">"Click" uveličava sliku</p>
       </div>   
     </div>
   </div>
  </div>
</template>

<script>
import flexImages from './flexImg.vue'
export default {
  components: {
    'flex-img': flexImages,
  },
  data() {
    return {};
  }
};
</script>

<style scoped>

.zoom-parag {
  margin-top: 0px;
  font-size: 20px;
  text-align: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.432);
  padding-top: 5px;
  padding-bottom: 10px;
  border-radius: 50px;
  font-weight: 600;
  color: white;
}
#o-nama-div {
  min-height: 100%;
  position: relative;
}
.jumbotron {
  background-image: url(https://usb.brando.com/prod_img/zoom/ULIFE059700_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 7px 15px 5px rgba(0, 0, 0, 0.514); 
  border-bottom: 10px solid  rgb(241, 204, 167);
  color: rgb(255, 255, 255);
  padding-left: 30px;
  padding-right: 30px;
  height: 100%;
  margin-bottom: 150px;
}
#description {
  font-size: 20px;
}
.info-wrapper {
  background-color: rgba(0, 0, 0, 0.445);
  padding: 20px;
}
</style>
