<template>
  <div class="container">
    <div class="row">
       <div class="col-md-12">
      <div class="jumbotron" v-if="orderCreated">
        <p><font-awesome-icon icon="truck"/> Porudžbine stižu u roku od 72 sata na kućnu adresu, cena dostave je 250din,<strong> u koliko poručite 2 ili više upaljača dostava je besplatna!!!</strong> Plaćanje pouzećem.</p>
        <hr>
         <div v-for="item in items" v-bind:key="item.upaljac" class="row">
          <div class="col-md-4">
            <h3>Slika proizvoda: </h3>
            <div class="img-box"><img class="product-image" :src="item.imageURL"></div>
          </div>
        <div class="col-md-6">
          <ul class="product-list"> 
            <li><strong>Naziv proizvoda:</strong> {{ item.karakteristike }}</li>
            <hr>
            <li><strong>Cena proizvoda:</strong> {{ item.cena }} din</li>
            <hr>
            <li>
              <strong>Količina:</strong> {{ quantity }} 
             <font-awesome-icon @click="plusQ" icon="plus" style="margin-left: 20px; font-size: 22px; cursor: pointer; color: blue;" />
             <font-awesome-icon @click="minusQ" icon="minus" style="margin-left: 10px; font-size: 22px; cursor: pointer; color: red;" />
            </li>
          </ul> 
        </div>
        </div>
        <hr>
      <div class="row">
        <div class="col-md-6">
          <h5 v-show="delivery">Dostava: 250din</h5> 
          <h3 v-bind="totalCost()"><strong>Ukupna cena: {{ totalPrice }} din</strong></h3>
          <hr>
          <h5>Način plaćanja: pouzeće</h5>
        </div>
      </div>
      <hr>
       <div class="row">
                <div class="col-md-6 offset-md-3 date-info">
            <h4>U koliko sad poručite vaš upaljač, stićiće vam na kućnu adresu: </h4>
            <h1 class="arrive-date">{{ arrivedDate }}</h1>
            <hr>
            <font-awesome-icon icon="shoe-prints" style="font-size: 15px;"/>
            <font-awesome-icon icon="shoe-prints" style="font-size: 17px;"/>
            <font-awesome-icon icon="shoe-prints" style="font-size: 19px;"/>
            <font-awesome-icon icon="shoe-prints" style="font-size: 21px;"/>
            <font-awesome-icon icon="shoe-prints" style="font-size: 23px;"/>
            <font-awesome-icon icon="shoe-prints" style="font-size: 25px;"/>
            <font-awesome-icon icon="shoe-prints" style="font-size: 27px;"/>
            <font-awesome-icon icon="shoe-prints" style="font-size: 30px;"/>
            <font-awesome-icon icon="home" style="font-size: 100px;"/>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
      <router-link to="/" exact><button class="btn-back">Nazad</button></router-link>
      <button id="reg-button" @click="orderCreated = false">Sledeće</button>
        </div>
       </div>
      </div>
      <registration 
        v-bind:itemsArray="items"
        v-bind:quantityNum="quantity"
        v-bind:totalCost="totalPrice"            
      v-else></registration>
     </div> 
    </div>
   </div>
</template>




<script>
import registration from './registration.vue'
import db from "../firebase/firebaseInit";
export default {
  components: {
    'registration': registration,
  },
  data() {
    return {
      arrivedDate: "",
      items: [],
      quantity: 1,
      totalPrice: null,
      delivery: true,
      orderCreated: true,
    };
  },
  created() {
   this.dateCounter()
  },
  beforeCreate() {
    db.collection("lighters")
      .where("upaljac", "==", this.$route.params.korpa_item)
      .get()
      .then(querySnapshot => {
        querySnapshot.forEach(doc => {
         this.items.push(doc.data())
        });
      });
  },
 methods: {
   plusQ () {
     this.quantity++
     if(this.quantity > 10) {
       this.quantity = 10
     }
   },
    minusQ () {
     this.quantity--
     if(this.quantity < 1) {
       this.quantity = 1
     }
   },
   totalCost() {
      db.collection("lighters")
      .where("upaljac", "==", this.$route.params.korpa_item)
      .get()
      .then(querySnapshot => {
        querySnapshot.forEach(doc => {
          this.totalPrice = doc.data().cena * this.quantity + 250
          if(this.quantity >= 2) {
            this.totalPrice = doc.data().cena * this.quantity
            this.delivery = false
          }else{this.delivery = true}
        });
      });  
   },
   dateCounter() {
      const date = new Date();
    let year = date.getFullYear();
    let month = date.getMonth(nameOfMonth);
    let nameOfMonth = [
      "Januara",
      "Februara",
      "Marta",
      "Aprila",
      "Maja",
      "Juna",
      "Jula",
      "Avgusta",
      "Septembra",
      "Oktobra",
      "Novembra",
      "Decembra"
    ];
    let day = date.getDate() + 3
     if(day > 31) {
      day = 1
      nameOfMonth[month++]
    }
    this.arrivedDate = `${day}.${nameOfMonth[month]}.${year}.`
   }
  }
 }
 
</script>

<style scoped>

.container {
  min-height: 100%;
  position: relative;
}
h4 {
  margin-top: 5px;
}
.product-list {
  font-size: 25px;
  margin-top: 100px;
 
}
.product-image {
  width: 100%;
  height: 100%;
}
.arrive-date {
  text-align: center;
  margin-top: 40px;
  font-size: 35px;
}
.date-info {
  border: 1px solid grey;
  box-shadow: 0px 7px 15px 5px rgba(0, 0, 0, 0.514);
  background-color: rgb(253, 223, 183);
  border-radius: 20px;
}
.img-box {
  border: 1px solid grey;
  height: 300px;
  width: 100%;
}
.jumbotron {
  background-color: white;
  border: 1px solid grey;
  margin-bottom: 250px;
  box-shadow: 0px 7px 15px 5px rgba(0, 0, 0, 0.514);
}
#reg-button {
  float: right;
  background-color: rgb(253, 223, 183);
  padding-left: 10px;
  padding-right: 10px;
  font-size: 25px;
  font-weight: 600;
  margin-right: 10px;
  margin-top: 50px;
  cursor: pointer;
}
.btn-back {
  float: right;
  background-color: crimson;
  margin-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 25px;
  font-weight: 600;
  cursor: pointer;
}
</style>


