<template>
    <div class="container">
        <div class="row">
            <div class="col-md-12 main-col">
                <h4 class="description">Ako želite možete ostaviti komentar ili sugestiju, kako bi mogli poboljšati uslugu koju vam pružamo...</h4>
               <form class="form-group">
                   <label for="name">Vaše ime:</label>
                   <br>
                   <input type="text" v-model="inputs.name">
                   <br>
                   <label for="email">E-mail:</label>
                   <br>
                   <input type="text" v-model="inputs.email">
                   <br>
                   <label for="comment">Komentar:</label>
                   <br>
                   <textarea class="text-area" v-model="inputs.comment"></textarea>
               </form>
               <button v-if="inputs.name && inputs.comment && inputs.email" v-show="exist" @click="onClick()" type="submit">Prosledi</button>
               <p v-show="!exist" class="tnx-parag">Hvala što doprinosite unapredjenju usluga.</p>
            </div>
        </div>
    </div>
</template>

<script>
import db from "../firebase/firebaseInit"
export default {
    data() {
        return {
         inputs: {  
          name: '',
          email: '',
          comment: '',
          },
         exist: true,  
        }
    },
    methods: {
      onClick() {
        db.collection('comments').add({
            name: this.inputs.name,
            email: this.inputs.email,
            comment: this.inputs.comment,
        }).then(function(){
            
        }),
        this.inputs = '' 
        this.exist = false
      }
    }
}
</script>

<style scoped>
  
  .tnx-parag {
      color: aqua;
      text-align: center;
      font-size: 20px;
      background-color: rgba(0, 0, 0, 0.514);
      padding-top: 5px;
      padding-bottom: 10px;
      border: 2px solid white;
  }
  label {
      font-size: 20px;
      color: rgb(255, 255, 255);
  }
  .description {
      text-align: center;
      margin-top: 0px;
      background-color: rgb(253, 223, 183);
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      padding-bottom: 5px;
      padding-top: 5px;
      width: 100%;
      font-weight: 700;
      font-family: monospace;
  }
  .main-col {
      background-image: url(https://cdn-images-1.medium.com/max/1200/1*RxgCqHyDUvK_ItUiOzG2Bw.jpeg);
      background-size: cover;
      background-position: center;
      padding-bottom: 30px;  
      border-bottom: 10px solid  rgb(241, 204, 167);
      border-top: 10px solid  rgb(241, 204, 167);
      box-shadow: 0px 7px 15px 5px rgba(0, 0, 0, 0.514);
      padding-right: 10%;
      padding-left: 10%;
  }
  .row {
      height: 500px;
      margin-bottom: 150px;
  }
  .form-group {
      padding-bottom: 5px;
      margin-top: 30px;
      font-weight: 600;
  }
  input {
      width: 100%;
      background-color: rgba(0, 0, 0, 0.37);
      border: 2px solid white;
      font-weight: 600;
      color: white;
  }
  .text-area {
      height: 100px;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.37);
      border: 2px solid white;
      font-weight: 600;
      color: white;
  }
  button {
      float: right;
      
      border: 2px solid white;
      background-color: rgba(0, 0, 0, 0.37);
      cursor: pointer;
      font-weight: 600;
      font-size: 20px;
      color: white;
  }
</style>
