<template>
<div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron">
          <div class="info-wrapper">
            <h1 class="display-4">Kontakt:</h1>
            <p class="lead">
              <strong>Za sva dodatna pitanja i informacije možete nam se obratiti putem mail-a navedenog u daljem tekstu, a mi ćemo se potruditi da adekvatno odgovorimo na vaše zahteve u što kraćem roku.</strong>
            </p>
            <hr class="my-4">
            <p>
              Mail address:
              <strong>elighter.online@gmail.com</strong>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <comment></comment>
</div>
</template>


<script>
import comment from './comment.vue'
export default {
  components: {
      'comment': comment,   
  },
  data() {
    return {};
  }
};
</script>


<style scoped>

.container {
  min-height: 100%;
}
.row {
  overflow: auto;
  padding-bottom: 100px;
}
.jumbotron {
  margin-bottom: 20px;
  background-image: url(https://dumielauxepices.net/sites/default/files/drawn-smoking-man-smoking-573623-5213182.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-bottom: 10px solid  rgb(241, 204, 167);
  border-top: 0px;
  box-shadow: 0px 7px 15px 5px rgba(0, 0, 0, 0.438); 
  color: rgb(255, 255, 255);
  box-sizing: border-box;
}
.jumbotron p {
  font-size: 20px;
}
.info-wrapper {
  margin-top: 80px;
  background-color: rgba(0, 0, 0, 0.445);
  padding-bottom: 60px;
}
</style>