<template>
    <div class="container-fluid">
      <div class="row">
        <div v-bind:class="{addedClass: first}" @click="first = !first" @mouseout="first = false" class="col-md-2 offset-md-1 first"></div>
        <div v-bind:class="{addedClass: second}" @click="second = !second" @mouseout="second = false" class="col-md-2 second"></div>
        <div v-bind:class="{addedClass: third}" @click="third = !third" @mouseout="third = false" class="col-md-2 third"></div>
        <div v-bind:class="{addedClass: fourth}" @click="fourth = !fourth" @mouseout="fourth = false" class="col-md-2 fourth"></div>
        <div v-bind:class="{addedClass: fifth}" @click="fifth = !fifth" @mouseout="fifth = false" class="col-md-2 fifth"></div>
      </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
          first: false,
          second: false,
          third: false,
          fourth: false,
          fifth: false,
          sixth: false,
        }
    }
}
</script>

<style scoped>

.row {
  margin-top: 100px;
  margin-bottom: 50px;

}
.first {
  background-image: url(https://image.dhgate.com/0x0/f2/albu/g6/M01/88/F9/rBVaR1qjUg6AQdPRAAGYuSDjGmk091.jpg);
  height: 300px;
  background-size: cover;
  background-position: center;
  border: 5px solid rgba(202, 150, 81, 0.81);
  border-right: 0px;
  transition: all 500ms ease;
}
.second {
  background-image: url(https://i.pinimg.com/originals/05/54/ce/0554cee5a0dd7f5a870b3ad35be7d4b4.jpg);
  height: 300px;
  background-size: cover;
  background-position: center;
  border: 5px solid rgba(202, 150, 81, 0.81);
  border-right: 0px;
  transition: all 500ms ease;

}
.third {
  background-image: url(https://i0.wp.com/ae01.alicdn.com/kf/HTB1QXSSLXXXXXaZXpXXq6xXFXXXy/5pcs-lot-creative-personality-cigarette-lighter-Usb-charging-ultra-thin-windproof-electronic-lighters-for-smoking-arc.jpg?w=3000&quality=2880);
  height: 300px;
  background-size: cover;
  background-position: center;
  border: 5px solid rgba(202, 150, 81, 0.81);
  border-right: 0px;
  transition: all 500ms ease;

}
.fourth {
  background-image: url(http://themastershare.com/wp-content/uploads/2017/08/1354887699-1.jpg);
  height: 300px;
  background-size: cover;
  background-position: center;
  border: 5px solid rgba(202, 150, 81, 0.81);
  border-right: 0px;
  transition: all 500ms ease;

}
.fifth {
  background-image: url(https://ae01.alicdn.com/kf/HTB1QDVcfamWBuNjy1Xaq6xCbXXad/usb.jpg_640x640.jpg);
  background-position: center;
  background-size: cover;
  height: 300px;
  border: 5px solid rgba(202, 150, 81, 0.81);
  transition: all 500ms ease;

}
.addedClass {
    transform: scale(2);
    border-right: 5px solid rgba(202, 150, 81, 0.81);
    transition: all 500ms ease;
    z-index: 1;
    box-shadow: 0px 10px 15px 10px rgba(0, 0, 0, 0.452); 
}

</style>
