<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h5 class="mail">Mail: elighter.online@gmail.com</h5>
        <a class="a-instagram" href="https://www.instagram.com/?hl=en">
          <img class="instagram" src="http://igdm.me/img/icon.png">
        </a>
        <a href="https://www.facebook.com/">
          <img
            class="facebook"
            src="https://png2.kisspng.com/20180403/jre/kisspng-social-media-facebook-linkedin-estate-agent-comput-background-black-5ac30b66c0cbe5.7533974715227318787897.png"
          >
        </a>
      </div>
    </div>
  </div>
</template>



<script>
export default {
  data() {
    return {};
  }
};
</script>


<style scoped>
.facebook {
  width: 45px;
  height: 45px;
  margin-top: 5px;
  border: black;
}
.facebook:hover {
  border: 2px solid white;
}
.instagram {
  width: 45px;
  height: 45px;
  padding: 2px;
  margin-top: 5px;
  margin-left: 65px;
  border: black;
}
.instagram:hover {
  border: 2px solid white;
}
.container-fluid {
  background-image: url("https://thumbs.gfycat.com/DisloyalRareConey-size_restricted.gif");
  height: 150px;
  margin-bottom: 0px;
  position: absolute;
  margin-top: 100px;
}
.mail {
  color: rgb(255, 255, 255);
  font-family: serif;
  text-align: center;
  margin-top: 25px;
}
</style>