<template>
  <div id="header-main">
    <div id="fire" class="container-fluid">
      <div class="row">
        <div class="col-md-2 col-sm-2 col-2">
          <router-link to="/" exact>
            <font-awesome-icon
              icon="fire"
              style="color: red; font-size: 80px; margin-top: 32px; margin-left: 12px;"
            />
          </router-link>
          <h5 class="name-of-company d-none d-md-block">E-upaljači</h5>
        </div>
        <div class="col-md-2 offset-md-1 d-none d-lg-block" style="text-align: center;">
          <router-link to="/" exact>
            <p class="nav-menu">Početna</p>
          </router-link>
        </div>
        <div class="col-md-2 d-none d-lg-block" style="text-align: center;">
          <router-link to="/o-nama" exact>
            <p class="nav-menu">O nama</p>
          </router-link>
        </div>
        <div class="col-md-2 d-none d-lg-block" style="text-align: center;">
          <router-link to="/kontakt" exact>
            <p class="nav-menu">Kontakt</p>
          </router-link>
        </div>
        <div class="col-md-2 offset-md-1 d-none d-lg-block" style="text-align: center;">
          <!--<router-link to="/korpa" exact><p class="nav-menu">Korpa</p>
          <font-awesome-icon icon="shopping-cart" class="cartimg"/><span id="num-of-product">{{ hey }}</span></router-link>-->
          <a href="https://www.instagram.com/?hl=en">
            <img class="instagram" src="http://igdm.me/img/icon.png">
          </a>
          <a href="https://www.facebook.com/">
            <img
              class="facebook"
              src="https://png2.kisspng.com/20180403/jre/kisspng-social-media-facebook-linkedin-estate-agent-comput-background-black-5ac30b66c0cbe5.7533974715227318787897.png"
            >
          </a>
        </div>
        <div class="col-2 offset-6 offset-sm-7 offset-md-8 d-block d-lg-none">
          <div class="nav-div" v-bind:class="{ navTransformation: activate, }">
            <font-awesome-icon
              class="hamburger"
              v-bind:class="{ newHamburger: activate, }"
              @click="activate = !activate"
              icon="bars"
            />
            <router-link to="/" exact>
              <h6 class="toggle-list" style="margin-top: 50px;">Početna</h6>
            </router-link>
            <router-link to="/o-nama" exact>
              <h6 class="toggle-list">O nama</h6>
            </router-link>
            <router-link to="/kontakt" exact>
              <h6 class="toggle-list">Kontakt</h6>
            </router-link>
            <!--<router-link to="/korpa" exact><h6 class="toggle-list">Korpa<font-awesome-icon icon="shopping-cart" style="font-size: 15px;"/></h6></router-link>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
import bootstrap from "bootstrap-vue";

export default {
  props: ["hey"],
  data() {
    return {
      activate: false
    };
  }
};
</script>



<style scoped>
.facebook {
  width: 35px;
  height: 35px;
  margin-top: 55px;
  border: black;
}
.instagram {
  width: 35px;
  height: 35px;
  margin-top: 55px;
  padding: 2px;
  border: black;
 
}
.facebook:hover {
  border: 2px solid white;
}
.instagram:hover {
  border: 2px solid white;
}
.cartimg {
  font-size: 20px;
  color: white;
}
.hamburger {
  color: red;
  font-size: 55px;
  cursor: pointer;
}
.newHamburger {
  color: red;
}
.nav-div {
  float: left;
  margin-top: 50px;
  padding-right: 0px;
  width: 70px;
  height: 58px;
  overflow: hidden;
  border: 2px solid crimson;
  text-align: center;
  transition: all 500ms ease-in-out;
  z-index: 1;
  position: absolute;
}
.navTransformation {
  background-color: black;
  float: left;
  text-align: center;
  margin-top: 50px;
  padding-right: 0px;
  width: 100px;
  height: 320px;
  overflow: hidden;
  border: 2px solid red;
  transition: all 500ms ease-in-out;
  z-index: 1;
  position: absolute;
}
.toggle-list {
  float: left;
  font-size: 20px;
  margin-top: 35px;
  margin-left: 12px;
  cursor: pointer;
  color: red;
}
.router-link-active p {
  transform: scale(0.9);
  transition: all 300ms ease-in-out;
  color: red;
  padding-bottom: 10px;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 0px;
  border-right: 1px solid red;
  border-bottom: 1px solid red;
  border-radius: 15px;
  box-shadow: 5px 5px 15px red;
}
.router-link-active h6 {
  color: rgb(255, 255, 255);
  transform: scale(1.1);
  transition: all 300ms ease-in-out;
}
.nav-menu {
  font-size: 30px;
  display: inline-block;
  margin-top: 45px;
  color: white;
}
#fire {
  background-image: url(https://thumbs.gfycat.com/DisloyalRareConey-size_restricted.gif);
  background-repeat: no-repeat;
  background-size: 100% 300px;
  background-position-y: -20px;
}
.row {
  height: 150px;
}
.name-of-company {
  font-size: 15px;
  color: white;
  text-shadow: 1px 1px whitesmoke;
  margin-left: 8px;
}
#num-of-product {
  font-size: 15px;
  color: white;
}
</style>