<template>
  <div id="home-main-div">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <div class="description-div">
            <div class="info-wrapper">
              <h1 id="company-name" class="display-4">
                <strong>"E-Upaljači"</strong>
              </h1>
              <p>USB gedžet upaljači na baterije.</p>
              <hr>
              <p>Savršeno originalan poklon i uspomena za vama dragu osobu.</p>
              <hr>
              <p>
                <font-awesome-icon icon="truck"/> Porudžbine stižu u roku od 72 sata na kućnu adresu, cena dostave je 250din,
                <strong>u koliko poručite 2 ili više upaljača dostava je besplatna!!!</strong> Plaćanje pouzećem.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row slide-show">
        <div id="slide-left" class="col-md-1 offset-md-2">
          <font-awesome-icon
            @mouseover="stopRotation()"
            @mouseout="startRotation()"
            @click="slidePrev()"
            icon="angle-double-left"
          />
        </div>
        <div id="slide-img" class="col-md-6">
          <img v-bind:src="currentSlide()" @mouseover="stopRotation()" @mouseout="startRotation()">
        </div>
        <div id="slide-right" class="col-md-1">
          <font-awesome-icon
            @mouseout="startRotation()"
            @mouseover="stopRotation()"
            @click="slideNext()"
            icon="angle-double-right"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 offset-md-2 cloud-info">
          <div class="left-start"></div>
          <h4 class="cloud-h4">Dva tipa paljenja oba potpuno bez plamena: tip A (električni grejač), tip B (električna plazma), što znači da nikada više nećete morati da se krijete od vetra kako bi ste upalili vašu cigaretu, sjajno zar ne?</h4>
          <div class="right-end"></div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3" v-for="lighter in lighters" v-bind:key="lighter.id" id="lighters">
          <img class="product-img" :src="lighter.imageURL">
          <p class="product-id">{{ lighter.upaljac }}</p>
          <p>{{ lighter.karakteristike }}</p>
          <p>{{ lighter.cena }} din</p>
          <div class="row">
            <div class="col-md-12">
          <router-link :to="{name: 'korpa-item', params: {korpa_item: lighter.upaljac}}" exact>
            <button class="btn-add-to-cart" type="submit">
              <strong>Poruči</strong>
            </button>
          </router-link>
           </div>
          </div>
        </div>
      </div>
    </div>
    <my-videos></my-videos>
  </div>
</template>

<script>
import video from "./video.vue"
import bootstrap from "bootstrap-vue"
import db from "../firebase/firebaseInit"
import axios from "axios"
export default {
  components: {
    'my-videos': video
  },
  data() {
    return {
      counter: 0,
      lighters: [],
      slideImgs: [
        "https://cdn.shopify.com/s/files/1/0802/5213/products/Wholesale-Metal-Double-Arc-Plasma-lighters-USB-Windproof-flameless-cigar-Electronic-charging-Cigarette-lighter-Rechargeable_a32054c7-4c8c-4fc5-8131-ef25c3cd67ae_800x.jpg?v=1535689197",
        "https://thumbs.worthpoint.com/zoom/images3/1/0418/03/atomic-lighter-plasma-arc-electrical_1_d1931ea0545d1363f3723eb26ab42522.jpg",
        "https://m.media-amazon.com/images/S/aplus-seller-content-images-us-east-1/ATVPDKIKX0DER/A2XKRHQGPAKUO8/B01LC3RONO/yFMy6k2CT1uv._UX899_TTW__.jpg",
        "http://www.direktconcept.com/wp-content/uploads/2014/05/quitbit-lighter-00.jpg",
        "https://cdn.shopify.com/s/files/1/2483/7760/products/Creative-USB-Charge-Dual-Arc-Lighter-USB-Windproof-Personality-Electric-Cigarette-Lighter-Novelty-Flameless-Torch.jpg?v=1509091727",
        "https://guide.alibaba.com/image/i2/dual-usb-rechargeable-electric-arc-thin-windproof-lighter-honest-shake-electric-cigarette-lighter-creative-personality/TB1fisuLXXXXXX4XpXXXXXXXXXX_!!0-item_pic.jpg",
        "https://cdn.shopify.com/s/files/1/0015/2515/3828/files/5_59a6962e-41ec-47e5-9ce4-2a80a2744de6.jpg?v=1537949301",
        "https://cdn.shopify.com/s/files/1/2380/9241/products/Rechargeable-USB-Lighter-Watches-date-clock-Electronic-Men-s-Casual-Quartz-Wristwatches-Windproof-Flameless-Cigarette-Lighter_6ec319b4-ad6f-4036-a0c1-dccde0ac8d71_800x.jpg?v=1536754587",
        "https://image.dhgate.com/0x0s/f2-albu-g5-M00-2D-C3-rBVaJFhySHGACCOQAAPe6ryrxdM281.jpg/novelty-electronic-cigarette-lighter-cigar.jpg",
        "https://cdn.coolstuff.com/autogen/preset/aspectThumb/1200x900/cfb3e4e981e30ab3ac5690da036f70e5.jpg",
        "https://ae01.alicdn.com/kf/HTB1NVKJd8gXBuNjt_hNq6yEiFXaW.jpg",
        "https://ae01.alicdn.com/kf/HTB1zMlFKuySBuNjy1zdq6xPxFXaO.jpg",
        'https://ae01.alicdn.com/kf/HTB1VGv6Xen85uJjSZFvq6xIgXXaq/Elektronik-Usb-Yang-Lebih-Ringan-Isi-Ulang-Rokok-Lebih-Ringan-Tahan-Angin-Arc-Plasma-Lebih-Ringan.jpg_640x640.jpg',
      ],
      timer: null,
      showButton: true
    };
  },

  methods: {
    currentSlide() {
      return this.slideImgs[this.counter];
    },
    slideNext() {
      this.counter++;
      if (this.counter > 12) {
        this.counter = 0;
      }
    },
    slidePrev() {
      this.counter--;
      if (this.counter < 0) {
        this.counter = 12;
      }
    },
    startRotation() {
      this.timer = setInterval(this.slideNext, 3500);
    },
    stopRotation() {
      clearInterval(this.timer);
      this.timer = null;
    }
  },
  created() {
    db.collection("lighters")
      .orderBy("upaljac")
      .get()
      .then(querySnapshot => {
        querySnapshot.forEach(doc => {
          const data = {
            id: doc.id,
            imageURL: doc.data().imageURL,
            upaljac: doc.data().upaljac,
            karakteristike: doc.data().karakteristike,
            cena: doc.data().cena
          };
          this.lighters.push(data);
        });
      });
    this.startRotation();
    this.loaded = true;
  }
};
</script>

<style scoped>

.cloud-info {
  width: 0%;
  margin-top: 50px;
  padding-left: 0px;
  padding-right: 0px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  font-family: monospace;
  background-color: rgb(226, 210, 188);
  border: 2px solid rgb(216, 184, 140);
  transition: all 700ms ease;
  box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.438); 
}
.cloud-h4 {
  padding: 20px;
}
.left-start {
  background-color: rgb(241, 203, 154);
  width: 50px;
  height: 50px;
  border-top-left-radius: 50px;
  border-bottom: 1px solid rgb(190, 142, 74);
  border-right: 1px solid rgb(190, 142, 74);
  box-shadow: 5px 5px 7px 2px rgba(128, 128, 128, 0.363);
}
.right-end {
  float: right;
  background-color: rgb(241, 203, 154);
  width: 50px;
  height: 50px;
  border-bottom-right-radius: 50px;
  border-left: 1px solid rgb(190, 142, 74);
  border-top: 1px solid rgb(190, 142, 74);
  box-shadow: -5px -5px 7px 2px rgba(128, 128, 128, 0.363);
}
.slide-show {
  margin-top: 270px;
}
.product-id {
  margin-top: 15px;
}
.btn-add-to-cart {
  font-size: 25px;
  width: 100%;
  margin-top: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #d32f2f;
  cursor: pointer;
}
.btn-add-to-cart:hover {
  background-color: rgb(36, 193, 199);
}
.product-img {
  width: 100%;
  height: 250px;
}
#slide-left {
  font-size: 50px;
  margin-top: 220px;
  cursor: pointer;
  height: 50px;
  text-align: center;
}
#slide-left:hover {
  color: red;
}
#slide-right {
  font-size: 50px;
  margin: auto 0;
  cursor: pointer;
  height: 50px;
  text-align: center;
}
#slide-right:hover {
  color: red;
}
#slide-img {
  padding: 0;
}
#slide-img img {
  width: 100%;
  height: 500px;
  border-radius: 20px;
  border: 20px solid rgba(46, 41, 41, 0.123);
  box-shadow: 0px 10px 20px 7px rgba(0, 0, 0, 0.438); 
}
#lighters {
  max-width: 300px;
  height: 460px;
  box-sizing: border-box;
  border: 8px solid rgba(80, 75, 75, 0.253);
  border-radius: 5px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 50px;
  margin-left: 30px;
  font-weight: 600;
  padding: 0;
  background-color: rgba(202, 200, 200, 0.377);
  box-shadow: 0px 5px 20px 7px rgba(0, 0, 0, 0.452); 
}

#lighters p {
  text-align: center;
  margin-bottom: 2px;
}

.description-div {
  height: 140%;
  text-align: center;
  background-image: url(https://ajp.com.au/wp-content/uploads/2015/02/aDollarphotoclub_72869451.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 15px solid rgba(252, 219, 177, 0.810);
  border-top: 1px solid black;
  box-sizing: border-box;
  font-weight: 700;
  box-shadow: 0px 5px 20px 7px rgba(0, 0, 0, 0.452); 
}
.description-div p {
  font-size: 25px;
}
#company-name {
  margin-top: 130px;
}
.info-wrapper {
  background-color: rgba(255, 255, 255, 0.418);
  padding-bottom: 5px;
}
</style>
