<template>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron">
          <div class="row">
            <div class="col-md-12">
              <h5
                style="text-align: center"
              >Molimo vas da obratite pažnju na tačnost unetih podataka kako bi proizvodi stigli na pravo mesto.</h5>
              <hr>
            </div>
          </div>
          <div class="row">
            <div id="main-reg" class="col-md-6">
              <h4 style="text-align: center">Unesite vaše podatke</h4>
              <form>
                <div class="form-group">
                  <label>Ime:</label>
                  <br>
                  <span v-if="usersInfo.lastName && !usersInfo.firstName">ovo polje je obavezno!</span>
                  <input class="form-control" type="text" v-model="usersInfo.firstName">
                  <br>
                  <label>Prezime:</label>
                  <br>
                  <span v-if="usersInfo.town && !usersInfo.lastName">ovo polje je obavezno!</span>
                  <input class="form-control" type="text" v-model="usersInfo.lastName">
                  <br>
                  <label id="place">Adresa:</label>
                  <br>
                  <span v-if="usersInfo.streetAndNumber && !usersInfo.town">ovo polje je obavezno!</span>
                  <input
                    class="form-control"
                    placeholder=" Grad / selo:"
                    type="text"
                    v-model="usersInfo.town"
                  >
                  <br>
                  <label>Ulica i broj:</label>
                  <br>
                  <span
                    v-if="usersInfo.zipCode && !usersInfo.streetAndNumber"
                  >ovo polje je obavezno!</span>
                  <input
                    class="form-control"
                    id="street-number"
                    type="text"
                    v-model="usersInfo.streetAndNumber"
                  >
                  <br>
                  <label>Poštanski broj:</label>
                  <br>
                  <input class="form-control" id="zip-code" type="text" v-model="usersInfo.zipCode">
                  <br>
                  <label>Telefon:</label>
                  <br>
                  <span v-if="usersInfo.email && !usersInfo.mobileNum">ovo polje je obavezno!</span>
                  <input class="form-control" type="text" v-model="usersInfo.mobileNum">
                  <br>
                  <label>Email:</label>
                  <br>
                  <input
                    style="margin-bottom: 45px;"
                    class="form-control"
                    type="text"
                    v-model="usersInfo.email"
                  >
                </div>
              </form>
              <button
                v-if="usersInfo.firstName && usersInfo.mobileNum && usersInfo.lastName && usersInfo.town && usersInfo.streetAndNumber"
                @click="receiveSendData()"
                class="button-order"
                type="submit"
              >Završi porudžbinu</button>
            </div>
          </div>
          <h5
            v-show="orderSucceeded"
            style="margin-top: 30px; text-align: center; color: aqua"
          >Vaša porudžbina je uspešno završena</h5>
          <router-link to="/">
            <button class="backHomeBtn" v-show="orderSucceeded">Nazad na početnu</button>
          </router-link>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
import db from "../firebase/firebaseInit";
export default {
  props: {
    itemsArray: Array,
    quantityNum: Number,
    totalCost: Number
  },
  data() {
    return {
      usersInfo: {
        firstName: "",
        lastName: "",
        town: "",
        streetAndNumber: "",
        zipCode: "",
        mobileNum: "",
        email: ""
      },
      orderSucceeded: false
    };
  },
  methods: {
    receiveSendData() {
      db.collection("user-orders")
        .add({
          ime: this.usersInfo.firstName,

          prezime: this.usersInfo.lastName,

          mesto: this.usersInfo.town,

          ulicaBroj: this.usersInfo.streetAndNumber,

          zipCode: this.usersInfo.zipCode,

          telefon: this.usersInfo.mobileNum,

          email: this.usersInfo.email,

          artikl: this.itemsArray,

          kolicina: this.quantityNum,

          ukupnaCena: this.totalCost
        })
        .then(function() {
          console.log("order succeeded");
        });
      this.usersInfo = "";
      this.orderSucceeded = true;
    }
  }
};
</script>


<style scoped>

.container {
  min-height: 100%;
  position: relative;
}
.backHomeBtn {
  float: right;
  font-weight: 700;
  background-color:  red;
  cursor: pointer;
  padding: 10px;
}
span {
  color: red;
}
.jumbotron {
  background-color: white;
  border: 1px solid grey;
  box-shadow: 0px 7px 15px 5px rgba(0, 0, 0, 0.514);
  margin-bottom: 200px;
}

input {
  width: 100%;
}
#zip-code {
  width: 150px;
}
.button-order {
  font-weight: 700;
  background-color: rgb(253, 223, 183);
  border: 2px solid grey;
  border-radius: 20px;
  float: right;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  margin-bottom: 20px;
  background-color: aqua;
}
.button-order:hover {
  color: rgb(255, 255, 255);
}
h4 {
  margin-bottom: 20px;
}
#main-reg {
  margin: 0 auto;
  border: 1px solid grey;
  box-shadow: 0px 7px 15px 5px rgba(0, 0, 0, 0.514);
  background-color: rgb(253, 223, 183);
}
</style>