<template>
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <iframe
          width="100%"
          height="500px"
          src="https://www.youtube-nocookie.com/embed/VCYd3BjH0cY?vq=hd1080&amp;controls=1&amp;playlist=H7hALSSpY8I&loop=1&amp;autoplay=0"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
        <div class="row">
          <div class="col-md-2 offset-md-5"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  },
  methods: {}
};
</script>

<style scoped>
.col-md-10 {
  border-radius: 20px;
  border: 20px solid rgba(46, 41, 41, 0.123);
  padding: 0px;
  box-shadow: 0px 10px 20px 7px rgba(0, 0, 0, 0.438);
}
</style>
