<template>
  <div id="app">
     <header-app></header-app>
     <router-view></router-view>
     <footer-app></footer-app>
  </div>
</template>

<script>
import header from './components/header.vue'
import footer from './components/footer.vue'

export default {
  components: {
      'header-app': header,
      'footer-app': footer,
  },
  name: 'app',
  data () {
    return {
     
    }
  }
}
</script>

<style>
html {
  margin: 0px;
  padding: 0px;
  height: 100%;
}
body {
  background-color: rgb(253, 223, 183);
  margin: 0px;
  padding: 0px;
  height: 100%;
}

</style>
